<table>
	<tr>
		<td><a href="/">Introduction</a></td>
		<td><a href="/housing">Ideas</a></td>
		<td><a href="{{ site.baseurl }}/fitness_review/bodyweightcalc">Body Weight Calculator</a></td>
		<td><a href="{{ site.baseurl }}/fitness_review/searchbar">Search Bar</a></td>
		<td><a href="{{ site.baseurl }}/fitness_review/dietfitness">Diets</a></td>
		<td><a href="{{ site.baseurl }}/fitness_review/register">Sign Up</a></td>
		<td><a href="{{ site.baseurl }}/fitness_review/login">Log In</a></td>
	</tr>
</table>